*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin{
    background-image: url(assets/background1.avif);
    background-size: cover;
    background-position: center;
}

.dashboard aside {
  text-align: center;
  padding: 50px 20px;
  background-color: rgb(193, 228, 188);
  
  height: auto;
}
@media (min-width:992px){
  
.dashboard aside {
  position: sticky;
  height: 100vh;
  top:100px;
}
}

.dashboard .main button {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(41, 15, 12);
  margin-bottom: 10px;
  background-color: #65be70;
  border-radius: 10px;
  color: #000;
  font-size: 18px!important;
  text-transform: uppercase;
  font-weight: 700;
}
