*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-hero {
  height: 60vh;
  width: 100%;
  background-image: url(assets/contact.png);

  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.contact-hero .overlay {
  background: rgba(0, 100, 0, 0.5);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}
.contact-hero .overlay p{
    font-size: 20px;
    text-transform: capitalize;
}

/* Contact Info */
.contact-info h3 {
  margin-bottom: 20px;
  color: #065f46;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-form .form-control {
  border-radius: 5px;
  border: 1px solid #065f46;
}

.contact-form .btn {
  background-color: #065f46;
  border: none;
  padding: 10px 25px;
}

.map-section iframe {
  border-radius: 10px;
  margin-bottom: 50px;
}
